html,
body,
#root {
  margin: 0;
  height: 100%;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: "MontHeavy";
  src: local("MontHeavy"),
    url(./assets/fonts/MontDemo-Heavy.otf) format("opentype");
}

@font-face {
  font-family: "FiraCodeRetina";
  src: local("FiraCodeRetina"),
    url(./assets/fonts/FiraCode-Retina.otf) format("opentype");
}

@font-face {
  font-family: "MontRegular";
  src: local("MontRegular"),
    url(./assets/fonts/MontDemo-Regular.ttf) format("truetype");
}
